ul{
    list-style: none;   
}
.img-avatar{
    width: 70%;
}

#section-2 .box-img img{
    border-radius: 10%;
}

.line-wh{
    height: 2px;
    width: 70px;
    background-color: white;
}

.line-black{
    height: 2px;
    width: 70px;
    background-color: black;
}


.bg-green{
    background-color: rgb(17, 196, 145);
}

.bg-light-gray{
    background-color: rgb(89, 88, 106);
}

.bg-gray{
    background-color: rgb(70, 74, 78);
}

.btn-white{
    --bs-btn-color: white;
    --bs-btn-border-color: white;
}

.form-control{
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
}

footer .fa-brands{
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    height: 45px;
    aspect-ratio: 1;
}



@media only screen and (min-width: 576px){
    .img-avatar{
        width: 200px;
    }
}

@media only screen and (min-width: 768px){
    #section-2{
        width: 80%;
    }
}

